extends layout
block content
  h1 Welcome to #{title}
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed dolor vitae sem dapibus dictum. Nullam a odio placerat, suscipit justo iaculis, placerat dolor. Mauris consequat massa id pharetra aliquet. Integer malesuada magna non nunc sagittis, vitae fermentum neque lobortis. Vestibulum vel est at urna tempus tempus. Nullam cursus in nibh in posuere. Quisque in magna iaculis, molestie ante ac, mollis velit. Donec non ligula quis nisi pretium congue vitae fringilla magna. Nulla quis ipsum eget justo sollicitudin euismod non vitae arcu. Proin id metus aliquam, luctus enim nec, rutrum erat.
  p Visit <a href="./page2.html">Page 2</a> here.
